
.container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template:
  [header-left] "head head" 60px [header-right]
  [main-left]   "nav  main" 1fr  [main-right]
  [footer-left] "nav  foot" 50px [footer-right] / 120px 1fr;
}

header {
  background-color: lime;
  grid-area: head;
}

nav {
  background-color: lightblue;
  grid-area: nav;
}

main {
  background-color: yellow;
  grid-area: main
}

footer {
  background-color: red;
  grid-area: foot;
}

@media screen and (max-width: 960px) {
  .container {
    grid-template:
    [header-left] "head head" 0px [header-right]
    [main-left]   "nav  nav" 50px  [main-right]
    [main-left]   "main  main" auto  [main-right]
    [footer-left] "foot  foot" 30px [footer-right] / 120px 1fr;
  }
}